<html>
    <head>
        <title>Data Control at RI3D at MTU</title>
        <link rel="stylesheet" type="text/css" href="../css/control.css">
    </head>
    <body>
        <div class="middle-container connected">
            <div class="flex-center">
                <span class="title bold">RI3D Data Controller</span>
            </div>
            <br/>
            <div>
                <div class="flex-center">
                    <span class="bold">Current Setting</span>
                </div>
                <div class="flex-center">
                    <span>This is the current setting set on the controller...</span>
                </div>
                <div class="flex-center">
                    <button class="selected">Hidden</button>
                    <button class="">Timer</button>
                    <button class="">Counter</button>
                    <button class="">Points</button>
                </div>
                
            </div>
            <br/>
            <div class="flex-apart">
                <span class="bold">Timer</span>
                <div class="flex-center">
                    <button class="">Reset to 0:00</button>
                    <span class="bold title selec" style="margin:0px 15px">0:00</span>
                    <button class="">Start</button>
                    <button class="selected">Stop</button>
                </div>
            </div>
            <br/>

            <div class="flex-apart">
                <span class="bold">Counter</span>
                <div class="flex-center">
                    <button class="">Zero</button>
                    <input type="number" class="input" value="0">
                    <button class="">Add 1</button>
                    <button class="">Remove 1</button>
                </div>
            </div>
            <br/>
            <div class="flex-apart not-active">
                <span class="bold">Points</span>
                <div class="flex-center">
                    <button class="">Undo</button>
                    <input type="number" class="input" value="0">
                    <button class="">Point #1</button>
                    <button class="">Point #2</button>
                    <button class="">Point #3</button>
                </div>
            </div>
        </div>
    </body>
</html>