<html>
    <head>
        <title>RI3D at MTU Control</title>
        <link rel="stylesheet" type="text/css" href="css/control.css">
        <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    </head>
    <body>
        <div class="middle-container" id="container">
            <div class="flex-center">
                <span class="title bold">RI3D Stream Status</span>
            </div>

            <div class="options">
                <div class="flex-apart">
                    <span class="bold">Time Target</span>
                    <input type="datetime-local" disabled id="time-target" class="input" value="0">
                </div>
                <div class="flex-apart">
                    <span class="bold">Build Stage</span>
                    <input type="text" disabled id="build-stage" class="input" maxlength="40">
                </div>
                
                <div class="flex-apart">
                    <span class="bold">Stream View</span>
                    <div id="stream-view" class="flex-center">
                        <button name="timer" class="selected">Timer</button>
                        <button name="away" class="">Away</button>
                        <button name="hide" class="">Hide</button>
                        <button name="ad" class="">Ad Break</button>
                        <button name="webcam" class="">Webcam</button>
                    </div>
                </div>
                <div class="flex-apart">
                    <span class="bold">Data Name</span>
                    <div class="ping">Recent</div>
                    <input id="data-name" type="text" disabled class="input" maxlength="40">
                </div>
                <div class="flex-apart">
                    <span class="bold">Data Segment</span>
                    <div class="flex-center" id="data-segment">
                        <button name="hidden" class="selected">Hidden</button>
                        <button name="timer" class="">Timer</button>
                        <button name="counter" class="">Counter</button>
                        <button name="points" class="">Points</button>
                    </div>
                </div>
                <div class="flex-apart">
                    <span class="bold">Scrolling Text</span>
                    <textarea id="scrolling-text" disabled></textarea>
                </div>
                <div class="flex-apart">
                    <span class="bold">Hide Message</span>
                    <input type="text" id="full-screen-message" disabled class="input">
                </div>
                <br/>
                <div>
                    <div class="flex-center">
                        <span class="bold">Current Data Points</span>
                    </div>
                    <div class="flex-center" style="margin: 30px 0px">
                        <div style="flex: 1">
                            <span class="bold" style="display:block">Counter</span>
                            <span id="counter-count" style="font-size: 3em" class="bold">0</span>
                        </div>
                        <div style="flex: 1">
                            <span class="bold" style="display:block">Points</span>
                            <span id="counter-points" style="font-size: 3em" class="bold">0pts</span>
                        </div>
                        <div style="flex: 1">
                            <span class="bold" style="display:block">Timer</span>
                            <span id="counter-timer" style="font-size: 3em" class="bold">0:00</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="switch-page">
            <button onclick="window.location = 'control'">To Stream Control</button>
            <button onclick="window.location = 'data-control'">To Data Control</button>
        </div>
        <script>

            const socket = io('', {path: '/live/socket.io'});

            let saved_data_obj = {
                time_target: "2021-01-01T00:00",
                build_stage: "Build Stage",
                stream_view: "Timer",
                data_name: "Data Name",
                data_segment: "Hidden",
                scrolling_text: "Scrolling Text",
                full_screen_message: "Full Screen Message"
            }

            let data_obj = {
                time_target: "2021-01-01T00:00",
                build_stage: "Build Stage",
                stream_view: "Timer",
                data_name: "Data Name",
                data_segment: "Hidden",
                scrolling_text: "Scrolling Text",
                full_screen_message: "Full Screen Message"
            }

            

        
            

            socket.on('connect', () => {
                console.log('Connected to server');

                document.getElementById("container").classList.add("connected");
                document.getElementById("container").classList.remove("disconnected");
                
            });

            socket.on('disconnect', () => {
                console.log('Disconnected from server');

                document.getElementById("container").classList.add("disconnected");
                document.getElementById("container").classList.remove("connected");
            });

            socket.on('stream-state', (data) => {

                saved_data_obj = data;
                data_obj = data;

                document.getElementById("time-target").value = data.time_target;
                document.getElementById("build-stage").value = data.build_stage;

                let button_div = document.getElementById("stream-view");
                let buttons = button_div.getElementsByTagName("button");

                for(let i = 0; i < buttons.length; i++){
                    if(buttons[i].classList.contains("selected")){
                        buttons[i].classList.remove("selected");
                    }

                    if(buttons[i].getAttribute("name") == data.stream_view){
                        buttons[i].classList.add("selected");
                    }
                }

                document.getElementById("data-name").value = data.data_name;

                button_div = document.getElementById("data-segment");
                buttons = button_div.getElementsByTagName("button");
                for(let i = 0; i < buttons.length; i++){
                    if(buttons[i].classList.contains("selected")){
                        buttons[i].classList.remove("selected");
                    }

                    if(buttons[i].getAttribute("name") == data.data_segment){
                        buttons[i].classList.add("selected");
                    }
                }

                document.getElementById("scrolling-text").value = data.scrolling_text;

                document.getElementById("full-screen-message").value = data.full_screen_message;

                console.log('Stream State:', data);
            });

            socket.on('data-state', (dataPassed) => {
                let counter = dataPassed.counter;
                let points = dataPassed.points;
                let timer = dataPassed.timer;

                document.getElementById('counter-count').innerText = counter;
                document.getElementById('counter-points').innerText = points + "pts";
                document.getElementById('counter-timer').innerText = timer;

                let timeLastPinged = dataPassed.time_pinged;
                // format in HH:MM:SS
                timeLastPinged = new Date(timeLastPinged).toLocaleTimeString();
                document.querySelector('.ping').innerText = "Last Updated: " + timeLastPinged;
            });

        </script>
    </body>
</html>